@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #ECF8FF;
  color: #5F5F5F;
  max-width: 100%;
  width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #5F5F5F;
}

li {
  list-style: none;
}


.logo{
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 20%;
  min-width: 150px;
}

.logo img{
  max-width: 100%;
  height: 20%;
  vertical-align: bottom;
}

/* ハンバーガーメニュー */
.toggle-btn {
  display: block;
  cursor: pointer;
  width: 45px;
  height: 60px;
  border-radius: 5px;
  position: fixed;
  top: 15px;
  right: 5%;
  z-index: 30;
}


.toggle-btn span {
  position: absolute;
  display: block;
  transition: all 0.4s;
  height: 3px;
  border-radius: 10px;
  background: #5F5F5F;
  width: 40px;
}

.toggle-btn span:nth-child(1) {
  top: 20px;
}

.toggle-btn span:nth-child(2) {
  top: 30px;
}

.toggle-btn span:nth-child(3) {
  top: 40px;
}

/* ハンバーガーメニュー開いた時の×ボタン */
.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

.open .toggle-btn span {
  background-color: white;
}

/* ナビメニュー */
#navi {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -200px;
  margin: 0 auto;
  position: fixed;
}

#navi ul li:hover {
  background: #ddd;
}

/* ナビメニュー開いたとき */
.open #navi {
  top: 0;
  z-index: 10;
  background: #5F5F5F;
  opacity: 0.95;
  transition: all 0.5s;

}

#navi a {
  display: block;
  color: white;
  text-align: center;
}

#navi li {
  padding: 10px 0;
  margin: 0 auto;
}

#navi ul {
  margin: 20px 0;
}


/* logo周りのdrink-img */
.header_bg1 {
  position: absolute;
  width: 20%;
  transform: rotate(-17.208deg);
  top: 0;
  left: 2%;
}

.header_bg2 {
  width: 15%;
  transform: rotate(14.413deg);
  position: absolute;
  top: 7%;
  left: 18%;
}

.header_bg3 {
  width: 40%;
  transform: rotate(14.413deg);
  position: absolute;
  top: 5%;
  right: 3%;
  z-index: -10;
}

.header_bg4 {
  width: 20%;
  transform: rotate(-17.166deg);
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: -10;
}

/* ボタン（全員ON,全員OFF,キャスト確定） */
.btn-box-1 {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  align-items: center;
}

/* 日付指定の文字の大きさ */
.btn-box-1 p {
  font-size: 15px;
  padding-top: 5px;
  margin-right: 20px;
}


/* ボタン(キャスト) */
.btn-box-2 {
  width: 100%;
  min-width: 375px;
  white-space: nowrap;
  overflow-x: scroll;
  margin-left: 10px;
}


/* スクロールバー非表示 */
.btn-box-2::-webkit-scrollbar {
  display: none;
}

.cast_btn {
  display: inline-block;
  position: relative;
}

.cast_btn input,
.cast_select input {
  opacity: 0;
  position: absolute;
  left: 0;
}

.cast_btn label,
.cast_select label {
  padding: 4px 15px;
  font-size: 10px;
  border-radius: 20px;
  background: white;
  border: 1px solid #5F5F5F;
  display: inline-block;
  cursor: pointer;
}

.cast_btn input:checked+label {
  background-color: white;
  border: 2px solid #B053D0;
  color: #B053D0;
  font-weight: bold;
}

.cast_select label:hover {
  background-color: #B053D0;
  border: none;
  color: white;
  font-weight: bold;
}

/* シフト表選択プルダウン */
select {
  color: #5F5F5F;
  font-weight: bold;
  font-size: 15px;
  background: white;
}


.select-box {
  display: block;
  min-width: 375px;
  text-align: center;
  padding: 20px 0;
  
}

.select-box #month {
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  border: none;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

.select-box #day {
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  width: 150px;
  border: none;
  text-align: center;
  padding: 10px;
}


/* シフト表(週) */
.table-scroll,
.day {
  overflow: auto;
  height: auto;
  width: 100%;
  min-width: 375px;
}

.fixed01{
  position: sticky;
  left: 0;
  &:before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
}

.day table {
  border-spacing: 0;
  margin: 0;
}

/* シフト表(month)の幅、背景imgの調整 */
.table-scroll table {
  border-spacing: 0;
  background-image:
    url(../carnist/img/drink5.png),
    url(../carnist/img/drink4.png),
    url(../carnist/img/drink2.png),
    url(../carnist/img/drink6.png),
    url(../carnist/img/drink7.png);
  background-repeat: no-repeat;
  background-size: 290px;
  background-position:
    left 120px top 40px,
    left 210px bottom 5px,
    left 500px top 100px,
    left 900px top 40px,
    left 800px bottom 30px;
}

.table-scroll td {
  white-space: nowrap;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  text-align: center;
  min-width: 4em;
}

.day td {
  min-width: 4em;
  text-align: center;
  white-space: nowrap;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.table-scroll th {
  padding: 10px;
  white-space: nowrap;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: #F9F8E5;
  position: sticky;
  left: 0;
}

.day th {
  padding: 5px;
  white-space: nowrap;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: #F9F8E5;
  position: sticky;
  left: 0;
}

.table-scroll tr:first-child th {
  border-top: 1px solid #D9D9D9;
}

.table-scroll th:first-child {
  border-left: 1px solid #D9D9D9;
}

.table-scroll tr:first-child th:first-child {
  z-index: 1;
}

.day tr:first-child th {
  border-top: 1px solid #D9D9D9;
}

.day th:first-child {
  border-left: 1px solid #D9D9D9;
}

.day tr:first-child th:first-child {
  z-index: 1;
}

span {
  font-size: 10px;
}

.table-scroll::-webkit-scrollbar {
  display: none;
}

.day::-webkit-scrollbar {
  display: none;
}

/* 日付指定横img */
.img-box3 {
  position: relative;
  z-index: 30;
}

.main_bg1 {
  position: absolute;
  width: 70px;
  transform: rotate(-17.208deg);
  top: -10px;
  left: 20px;
}

.main_bg2 {
  width: 50px;
  transform: rotate(14.413deg);
  position: absolute;
  top: 0;
  left: 80px;
}
.cast_select {
  margin-right: 10px;
}

/* 挿入画像エリア */
.img-box4 {
  display: block;
  margin-top: 40px;
  max-width: 739px;
  text-align: center;
}

.img-box4 img {
  width: 90%;
  margin: 0 auto;
  vertical-align: bottom;
}

/* フッター */
footer {
  margin: 20px 0;
  text-align: center;
}

.sns img {
  width: 30px;
  margin-bottom: 5px;
}

.sns {
  font-size: 10px;
  display: block;
  display: flex;
  flex-direction: column;
}


