@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #ECF8FF;
  color: #5F5F5F;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #5F5F5F;
}

li {
  list-style: none;
}

#header{
  display: inline-block;
}

.container{
  min-width: 500px;
  /* border: 1px solid red; */
  margin: 0 auto;
  text-align: center;
}


.logo{
  display: inline-block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}
/* ハンバーガーメニュー */
.toggle-btn {
  display: block;
  cursor: pointer;
  width: 45px;
  height: 60px;
  border-radius: 5px;
  position: fixed;
  top: 15px;
  right: 50px;
  z-index: 30;
}


.toggle-btn span {
  position: absolute;
  /* display: block; */
  transition: all 0.4s;
  height: 3px;
  border-radius: 10px;
  background: #5F5F5F;
  width: 40px;
}

.toggle-btn span:nth-child(1) {
  top: 20px;
}

.toggle-btn span:nth-child(2) {
  top: 30px;
}

.toggle-btn span:nth-child(3) {
  top: 40px;
}

/* ハンバーガーメニュー開いた時の×ボタン */
.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

.open .toggle-btn span {
  background-color: white;
}

/* ナビメニュー */
#navi {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -200px;
  margin: 0 auto;
  position: fixed;
}

#navi ul li:hover {
  background: #ddd;
}

/* ナビメニュー開いたとき */
.open #navi {
  top: 0;
  z-index: 10;
  background: #5F5F5F;
  opacity: 0.95;
  transition: all 0.5s;

}

#navi a {
  display: block;
  color: white;
  text-align: center;
}

#navi li {
  padding: 10px 0;
  margin: 0 auto;
}

#navi ul {
  margin: 20px 0;
}


/* 背景drink-img */

.img-box {
  position: relative;
}

.header_bg1 {
  position: absolute;
  width: 80px;
  transform: rotate(-17.208deg);
  top: 10px;
  left: 10px;
}

.header_bg2 {
  width: 70px;
  transform: rotate(14.413deg);
  position: absolute;
  top: 60px;
  left: 73px;
}

.header_bg3 {
  width: 150px;
  transform: rotate(14.413deg);
  position: absolute;
  top: 80px;
  left: 310px;
}

.header_bg4 {
  width: 70px;
  transform: rotate(-17.166deg);
  position: absolute;
  top: 200px;
  left: 260px;
}


/* 日付指定横img */
.img-box3 {
  position: relative;
  z-index: 30;
}

.main_bg1 {
  position: absolute;
  width: 70px;
  transform: rotate(-17.208deg);
  top: 0px;
  left: 30px;
}

.main_bg2 {
  width: 50px;
  transform: rotate(14.413deg);
  position: absolute;
  top: 0;
  left: 90px;
}

/* ボタン（全員ON,全員OFF,キャスト確定） */
.btn-box-1 {
  display: flex;
  position: absolute;
  top: 180px;
  left: 10px;
  white-space: nowrap;
  align-items: center;
}

.btn-box-1 p {
  font-size: 15px;
  padding-top: 5px;
  margin-right: 30px;
}

.cast_select {
  margin-right: 10px;
}

/* ボタン(キャスト) */
.btn-box-2 {
  width: 100%;
  min-width: 500px;
  white-space: nowrap;
  overflow-x: scroll;
  margin-left: 10px;
}


/* スクロールバー非表示 */
.btn-box-2::-webkit-scrollbar {
  display: none;
}

.cast_btn {
  display: inline-block;
  position: relative;
}

.cast_btn input,
.cast_select input {
  opacity: 0;
  position: absolute;
  left: 0;
}

.cast_btn label,
.cast_select label {
  padding: 4px 15px;
  font-size: 10px;
  border-radius: 20px;
  background: white;
  border: 1px solid #5F5F5F;
  display: inline-block;
  cursor: pointer;
}

.cast_btn input:checked+label {
  background-color: white;
  border: 2px solid #B053D0;
  color: #B053D0;
  font-weight: bold;
}

.cast_select label:hover {
  background-color: #B053D0;
  border: none;
  color: white;
  font-weight: bold;
}

/* シフト表選択プルダウン */
select {
  color: #5F5F5F;
  font-weight: bold;
  font-size: 15px;
  background: white;
}


.select-box {
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}

.select-box #month {
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  border: none;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

.select-box #day {
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  border: none;
  text-align: center;
  padding: 10px;
}

/* シフト表(週) */
.shift,
.day {
  overflow: auto;
  height: auto;
  width: 100%;
  min-width: 500px;
}

.day table {
  border-spacing: 0;
  margin: 0;
}

/* シフト表(month)の幅、背景の調整 */
.shift table {
  border-spacing: 0;
  background-image:
    url(../carnist/img/drink5.png),
    url(../carnist/img/drink4.png),
    url(../carnist/img/drink2.png),
    url(../carnist/img/drink6.png),
    url(../carnist/img/drink7.png);
  background-repeat: no-repeat;
  background-size: 280px;
  background-position:
    left 110px top 30px,
    left 210px bottom 5px,
    left 380px top 100px,
    right -30px top 40px,
    right 1px bottom 30px;
}

.shift td {
  white-space: nowrap;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  text-align: center;
  min-width: 4em;
}

.day td {
  min-width: 4em;
  text-align: center;
  white-space: nowrap;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.shift th {
  padding: 10px;
  white-space: nowrap;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: #F9F8E5;
  position: sticky;
  left: 0;
}

.day th {
  padding: 5px;
  white-space: nowrap;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: #F9F8E5;
  position: sticky;
  left: 0;
}

.shift tr:first-child th {
  border-top: 1px solid #D9D9D9;
}

.shift th:first-child {
  border-left: 1px solid #D9D9D9;
}

.shift tr:first-child th:first-child {
  z-index: 1;
}

.day tr:first-child th {
  border-top: 1px solid #D9D9D9;
}

.day th:first-child {
  border-left: 1px solid #D9D9D9;
}

.day tr:first-child th:first-child {
  z-index: 1;
}

span {
  font-size: 10px;
}

.shift::-webkit-scrollbar {
  display: none;
}

.day::-webkit-scrollbar {
  display: none;
}

/* 挿入画像エリア */
.img-box4 {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.img-box4 img {
  width: 90%;
  margin: 0 auto;
}

/* フッター */
footer {
  margin: 20px 0;
  text-align: center;
}

.sns img {
  width: 30px;
  margin-bottom: 5px;
}

.sns {
  font-size: 10px;
  display: block;
  display: flex;
  flex-direction: column;
}

@media(max-width:506px) {
.container{
  min-width: 370px;
  text-align: center;
}

.logo{
  width: 100%;
}

#header .logo img {
  width: 60%;
}


.select-box{
  width: 300px;
}

.header_bg1 {
  width: 70px;
  top: 0;
  left: 0;
}

.header_bg2 {
  width: 50px;
  top: 75px;
  left: 52px;
}

.header_bg3 {
  width: 140px;
  top: 80px;
  left: 230px;
}

.header_bg4 {
  width: 70px;
  top: 190px;
  left: 180px;
}

.img-box4{
  max-width: 500px;
  text-align: center;
}

footer{
  max-width: 500px;
}
  
}


